@import url('https://fonts.googleapis.com/css?family=Lato:100i,300i,400,400i&display=swap');


:root {
    --base-color: #FFFFFF;
    --highlight-color-primary: #BC80DB;
    --highlight-color-alternate: #0090FF;

    --divider-color: #EBEBEB;

    --button-text-color: #686262;

    --menubar-color: #F2F2F2;
    --menubar-color-hover: #DFDFDF;
}

body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    user-select: none;
}

button:focus {
    outline: none;
}


/* MENU BAR */
.menubar {
    -webkit-app-region: drag;
}

.menubar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--menubar-color); 
    
}
  
.menubar-left{
    float: left;
}

.menubar-right{
    float: right;
}

.menubar-item {
    -webkit-app-region: no-drag;
}

.menubar-button {
    padding: 0px;
    border-radius: 0px;
    margin: 0px;
    width: auto;
    height: auto;
    border: 0px;
    background-color: var(--menubar-color);
    color: #7D7E7E;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.menubar-button:hover {
    background-color: var(--menubar-color-hover);
    color: #0F0F0F;
    
}

.close-button:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    padding: 6px 13px 6px 13px;
    margin-bottom: 0px;    
}

.logo-sm {
    background-size: 82.1px 19px;
    padding: 3px 41px;
    background-image: url('../images/logos/logo-small.png');
    height: 12px;
    margin: 9px 0px 6px 7px;
    background-repeat: no-repeat;
    
}
/* MENU BAR END */



.main-screen {
    display: grid;
    background-color:white;
    height: 100%;
}

.logo-grid-item {
    grid-column: 1 / 9;
    height: 100%;
    
    
}

.logo-container-inner {
    height: 30%; /*21% 70% */
    width: 70%;
    background-image: url('../images/logos/logo-small.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.buttons-container {
    grid-column: 9 / 10;
    box-shadow: -24px 0px 1px -20px var(--divider-color);
    
}

.buttons-container-inner {
    min-height: 200px;
    max-height: 226px;
    height: 30%;
    width: 100%;
    background-color: white;
    max-height: 226px;
}

.version-grid-item {
    grid-column: 10 / 12;
    background-color: white;
}

.center-align {
    display: flex;
    text-align: center;
    justify-content: center;
}

.main-button {
    width: 54%;
    height: 25%;
    margin: 4px 0px;
    padding: 0px;
    border-radius: 50px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid var(--highlight-color-primary);
    font-family: 'Lato', sans-serif;
    transition: color 0.2s, background-color 0.1s;
}

.main-button:hover{
    background-color: var(--highlight-color-primary);
    color: #fff;
    cursor: pointer;
}

.center-align-inner{
    margin: auto;
}

.version {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-style: italic;
}